<!-- Toolbar -->
<div class="toolbar" role="banner">
<i class="material-icons md-48">face</i> {{ message }}
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <i class="material-icons md-48">online_prediction</i>

    <span>{{ title }} </span>


  </div>

  <!-- Resources -->
  <h2 class="left-note" >Ces petites choses utiles à savoir ...</h2>
  <p>Tu trouves quelque chose d'intéressent ? Et bien vas y clic !</p>

  <div class="card-container">

    <a class="card">
      <i class="material-icons">domain</i>

      <p><a routerLink="/home">Home</a></p><br />

      <!-- <p class="tiny">... si tu veux y comprendre quelque shose</p> -->

      <i class="material-icons">keyboard_arrow_right</i>


    </a>
    <a class="card">
      <i class="material-icons">school</i>

      <p><a routerLink="/m5/glossery">Glosaire des damnés</a></p><br />

      <!-- <p class="tiny">... si tu veux y comprendre quelque shose</p> -->

      <i class="material-icons">keyboard_arrow_right</i>


    </a>

</div>

<div class="jami">
  <router-outlet></router-outlet>
</div>
