$neon-text-color: #fca7aa;
$neon-border-color: #d60b3e;

.box{
  display: table;
  margin: auto;
  margin-top: 10%;
}
.in-box {
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Baskervville';font-size: 22px;

  font-size: 25px;
  font-weight: bolder;
  color: white;
  padding: 15px 55px;
  border: 3px solid $neon-border-color;
  border-radius: 11px;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  box-shadow:$neon-border-color 1px 1px 32px;
  text-shadow:$neon-text-color 1px 1px 12px;
}
// h1::-moz-selection {
//   background-color: $neon-border-color;
//   color: $neon-text-color;
// }

// h1::selection {
//   background-color: $neon-border-color;
//   color: $neon-text-color;
// }

// h1:focus {
//   outline: none;
// }

// /* Animate neon flicker */
 @keyframes flicker {

     0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

         text-shadow:
             -0.2rem -0.2rem 1rem #fff,
             0.2rem 0.2rem 1rem #fff,
             0 0 2rem $neon-text-color,
             0 0 4rem $neon-text-color,
             0 0 6rem $neon-text-color,
             0 0 8rem $neon-text-color,
             0 0 10rem $neon-text-color;

         box-shadow:
             0 0 .5rem #fff,
             inset 0 0 .5rem #fff,
             0 0 2rem $neon-border-color,
             inset 0 0 2rem $neon-border-color,
             0 0 4rem $neon-border-color,
             inset 0 0 4rem $neon-border-color;
     }

     20%, 24%, 55% {
         text-shadow: none;
         box-shadow: none;
     }
 }
